/*190px  -- 3.8rem*/
@media screen and (max-width: 1200px) {
    body{ overflow-x:scroll;  }
}
@media screen and (max-width: 750px) {
    *{
        /*-webkit-box-sizing: border-box;*/
        /*-moz-box-sizing: border-box;*/
        /*box-sizing: border-box;*/
    }
    body{
        font-family: 'PingFang SC',SimHei,'Microsoft YaHei','PingFang SC',Arial, Helvetica, arial, sans-serif;
        min-width: 0;
        max-width: 7.5rem;
        width: 7.5rem;
        position: relative;
        overflow-x:hidden;
    }
    .main_top,.main_topb{
        height: 1.2rem;
    }
    .main_topb .logo{
        width: 2.5rem;
        margin-left: 0.30rem;
        margin-top: 0.24rem;
    }
    .banner{
        width: 100%;
        height: 4.5rem;
        overflow: hidden;
        position: relative;
        left: 0;
        margin-left: 0;
    }
    .banner img{
        height: 4.5rem;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets{
        bottom: 0rem;
    }
    .mbcpb2  .swiper-container-horizontal > .swiper-pagination-bullets{
        bottom: 0;
    }

    .swiper-pagination-white .swiper-pagination-bullet-active{
        background-color:transparent;
        box-shadow: 0 0 0  0.03rem #ffffff;
        width: 0.1rem;
        height: 0.1rem;
        position: relative;
        top: -1px;
    }
    .mbcpb2 .swiper-pagination-white .swiper-pagination-bullet{
        background: #000;
    }
    .mbcpb2 .swiper-pagination-white .swiper-pagination-bullet-active{
        background-color:transparent;
        box-shadow: 0 0 0  0.03rem #da251c;
        width: 0.1rem;
        height: 0.1rem;
        position: relative;
        top: -1px;
    }

    .newssc{
        height: 0.8rem;
        line-height: 0.8rem;
    }
    .newssct .tt{
        width: 0.6rem;
    }
    .newssct .tt .sc{
        width: 0.28rem;
        margin-top: 0.28rem;
    }
    .newsscb{
        width: 6rem;
    }
    .newsscb a{
        font-size: 0.24rem;
    }
    .newsscb i{
        font-weight: bold;
    }
    .newsscb a b{
        width: 4.5rem;
    }
    .bottom2{

    }
    .dbdh1 p a.tb{
        display: block;
        font-size: 0.28rem;
        margin-bottom: 0.3rem;
    }
    .dbdh1 p{
        float: none;
        width: 100%;
        padding-left: 0.5rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .dbdh1 p.gz{
        margin-top: 1rem;
    }
    .dbdh1 p .tt img{
        width: 0.68rem;
    }
    .dbdh1 p .tt a{
        margin-right: 0.4rem;
    }
    .dbdh1 p.gz>a,.dbdh1 p.erw>a{
        display: block;
        font-size: 0.24rem;
    }
    .dbdh1 p.gz>a:first-of-type,.dbdh1 p.erw>a:first-of-type{
        font-size: 0.28rem;
    }
    .dbdh1 p.erw{
        text-align: left;
        width: 2rem;
        margin-top: 0.7rem;
        float: none;
        margin-left: 0.5rem;
        padding-left: 0;
        margin-bottom: 0.7rem;
    }
    .dbdh1 p.erw img{
        width: 1.88rem;
        margin-bottom: 0.2rem;
    }
    .bottom4 p{
        font-size: 0.24rem;
        line-height: 1rem;
        text-align: center;
    }
    .mbcpbt h3{
        font-size: 0.36rem;
        width: auto;
    }
    .mbcpbt h3 b{
        font-size: 0.24rem;
    }
    .mbcpf h3{
        font-size: 0.48rem;
    }
    .mbcpf h4{
        font-size: 0.2rem;
    }
    .mbcpf i{
        width: 0.44rem;
    }
    .mbcpf h5{
        font-size: 0.2rem;
    }
    .scsc{
        overflow-x: scroll;
        width: 12.6rem;
    }
    .mbcpl{
        overflow-x: scroll;
    }
    .mbcpx{
        width: 4rem;
        height: 5.05rem;
        margin-right: 0.3rem;
    }
    .mbcpf{
        top: 1.8rem;
    }
    .mbcpbt{
        margin: 0.8rem 0 0.5rem;
    }
    .mbcpl,.mbcpl2{
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
    .mbcpx2,.mbcpx2:first-of-type{
        width: 100%;
        height: 6.3rem;
        margin-bottom: 0.6rem;
    }
    .mbcpf2,.mbcpx2:first-of-type .mbcpf2{
        top: 4.25rem;
        left: 0;
        padding: 0 0.28rem;
    }
    .mbcpx2 img,.mbcpx2:first-of-type img{
        width: 7.1rem;
        height: 4rem;
    }
    .mbcpf2 h3,.mbcpx2:first-of-type .mbcpf2 h3{
        font-size: 0.28rem;
        line-height: 1.4;
    }
    .mbcpf2 h4,.mbcpx2:first-of-type .mbcpf2 h4{
        font-size: 0.24rem;
        margin: 0 0 0.2rem;
    }
    .mbcpf2 p,.mbcpx2:first-of-type .mbcpf2 p{
        font-size: 0.24rem;
        line-height: 1.2;
    }
    .mbcpx2:first-of-type .mbcpf2 h3{
        color: #333;
    }
    .mbcpx2:first-of-type .mbcpf2 h4{
        color: #b6b6b6;
    }
    .mbcpx2:first-of-type .mbcpf2 p{
        color: #999;
    }
    .mbcpl2{
        width: 7.5rem;
        padding: 0 0.25rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-bottom: 0.4rem;
    }
    .mbcpb2.pblk{
        padding: 0;
    }
    .mbcpb2.pblk .mbcpbt{
        padding: 0 0.25rem;
    }
    .mbcpb2.pblk  .mbcpx2{
        margin-right:0;
    }
    .swiper-wrapper2{
        display: flex;
    }
    .banc{
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        height: 2.8rem;
        margin-top: 0.8rem;
    }
    .prolef{
        width: 100%;
        padding: 0 0.25rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px solid #ededed;
    }
    .prolef .tbq{
        width: 1.4rem;
        display: inline-block;
        margin-right: 0.32rem;
    }
    .prolef .tbq:last-of-type{
        margin-right: 0;
    }
    .prolef .tbq>a{
        font-size: 0.28rem;
        line-height: 0.88rem;
        height: 0.88rem;
        padding: 0 0.05rem;
    }
    .probb.pblk{
        padding: 0;
    }
    .prolef .tbq.on>a{
        background-color: transparent;
        color: #da251c;
        border-bottom: 3px solid #da251c;
    }
    .prolef .tbq.on i,.prolef .tbq i{
        display: none;
    }
    .prolef .tbq.on span{
        position: absolute;
        width: 7rem;
        left: 0;
        top: 1.3rem;
    }
    .prolef .tbq span>a{
        width: 33.33%;
        text-align: center;
        float: left;
        font-size: 0.26rem;
        color: #666;
        line-height: 0.8rem;
        background-color: #ebebeb;
    }
    .prolef .tbq span>a.on{
        background-color: #da251c;
        color: #FFFFFF;

    }
    .prorig{
        padding: 0 0.25rem;
        margin-top: 2rem;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .prodd{
        width: 100%;
        margin-right: 0;
    }
    .prodd h3{
        line-height: 0.88rem;
        font-size: 0.28rem;
    }
    .proxxtl{
        width: 100%;
        height: auto;
        padding-bottom: 0.6rem;
    }
    .proxxtl .tt{
        width: 100%;
        height: auto;
        line-height: 6rem;
    }
    .proxxtl .tt img{
        width: 80%;
        height: auto;
    }
    .proxxils a{
        height: 0.68rem;
        line-height: 0.68rem;
        width: 1.18rem;
        margin-right: 0.15rem;
    }
    .proxx{
        margin: 0.7rem auto;
    }
    .proxx.pblk{
        width: 7rem;
        padding: 0;
    }
    .proxxils{
        width: 100%;
        padding: 0.02rem 0.25rem;
    }
    .proxxils a img{
        width: 0.51rem;
    }
    .proxxtr{
        width: 100%;
        height: auto;
        padding: 0.48rem;
    }
    .proxxtr h3{
        font-size: 0.32rem;
        line-height: 0.5rem;
    }
    .proxxtr h4{
        font-size: 0.28rem;
        line-height: 0.4rem;
        margin: 0.36rem 0 0.1rem;
    }
    .proxxtr .gou{
        width: 2.4rem;
        line-height: 0.7rem;
        height: 0.72rem;
        font-size: 0.28rem;
    }
    .proxxtr p{
        font-size: 0.24rem;
    }
    .proxxdx p{
        font-size: 0.24rem;
    }
    .proxxdx p img{
        margin: 0.2rem auto;
    }
    .proxxd{
        margin: 0.5rem auto;
    }
    .proxxdt a{
        font-size: 0.28rem;
        margin-right: 0.5rem;
    }
    .proxxdx{
        margin: 0.3rem auto;
    }
    .hezuotb a{
        font-size: 0.28rem;
        height: 0.9rem;
        line-height: 0.9rem;
        margin-right: 0.6rem;
    }
    .hezuobdt a{
        font-size: 0.26rem;
        line-height: 0.8rem;
    }
    .hezuobbd h3{
        font-size: 0.28rem;
    }
    .hezuobbd p{
        font-size: 0.24rem;
    }
    .fuwulc h3{
        font-size: 0.36rem;
    }
    .fuwulc h3 b{
        font-size: 0.24rem;
    }
    .fuwubd a{
        width: 1.4rem;
        margin-right: 0.46rem;
    }
    .fuwubd a:nth-of-type(2n+1){
        margin-top: 0;
    }
    .fuwubd a:nth-of-type(4n){
        margin-right: 0;
    }
    .fuwubd{
        padding-bottom: 0;
        margin-bottom: 0.3rem;
    }
    .ditub{
        height: 4.6rem;
    }
    .dituls{
        position: relative;
        top: 0;
        right: 0;
    }
    .mbmb3{
        background-color: #F8F8F8;
    }
    .ditulsb{
        width: 100%;
        height: 1.8rem;
        padding: 0.1rem 0.3rem;
    }
    .ditulsb h3{
        font-size: 0.28rem;
        line-height: 2.6;
    }
    .ditulsb p{
        font-size: 0.24rem;
        line-height: 1.6;
    }
    .ditutb a{
        width: 3.4rem;
    }
    .ditutb a:first-of-type{
        margin-right: 0.2rem;
    }
    .dituls{
        padding: 0.3rem 0 0;
    }
    .aboutt>h3{
        font-size: 0.36rem;
    }
    .aboutt>h3 b{
        font-size: 0.24rem;
    }
    .aboutb.pblk{
        background-color: #fff;
    }
    .aboutt>h4{
        font-size: 0.28rem;
    }
    .aboutt>p{
        font-size: 0.24rem;
    }
    .aboutc>p{
        width: 100%;
    }
    .aboutc>p>span.tt{
        font-size: 0.28rem;
    }
    .aboutc>p>em{
        font-size: 0.24rem;
        margin-bottom: 0.4rem;
    }
    .aboutc>p>span.tt{
        margin: 0.2rem 0 0.05rem;
    }
    .aboutb, .aboutln{
        margin-bottom: 0;
    }
    .aboutlnt>h3{
        font-size: 0.36rem;
    }
    .aboutlnt>h3 b{
        font-size: 0.24rem;
    }
    .aboutlnb .tt{
        width: 100%;
        height: auto;
    }
    .aboutlnr{
        width: 100%;
    }
    .aboutlnr h3{
        line-height: 1.5;
    }
    .aboutlnr p{
        color: #666;
        line-height: 1.5;
    }
    .aboutlnr h4{
        color: #999;
        margin-bottom: 0.1rem;
    }
    .aboutlnr{
        padding: 0.2rem 0.55rem 0.6rem 0.35rem;
        height: auto;
    }
    .aboutlnb{
        margin-bottom: 0.7rem;
    }
    .menu{
        position: fixed;
        top: 0.85rem;
        z-index: 99;
        display: none;
        width: 100%;
        background-color: #fff;
        margin-left: 0;
        padding: 1.3rem 0.5rem 1rem 0.25rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .menu>ul>li{
        display: block;
        width: 100%;
        text-align: left;
        padding: 0 0.25rem;
        height: auto;
        background: url("../images/jiantou2.png") no-repeat right 0.25rem;
        -webkit-background-size: 0.2rem;
        background-size: 0.2rem;
        border: none;
    }
    .menu>ul>li>a{
        line-height: 0.8rem;
        font-size: 0.36rem;
    }
    .menu>ul>li.on,.menu>ul>li:hover{
        border: none;
    }
    .menu>ul>li.on2{
        border: none;
        background: url("../images/jiantou1.png") no-repeat right 0.3rem;
        -webkit-background-size: 0.35rem;
        background-size: 0.35rem;
    }
    .menu>ul>li:hover ul{
        display: none;
    }
    .menu>ul>li ul li{
        line-height: 0.6rem;
        height: 0.6rem;
        font-size: 0.3rem;
        background: transparent;
        text-align: left;
        padding-left: 0.25rem;
        border-bottom: none;
    }
    .menu>ul>li ul li a{
        color: #333;
    }
    .menu>ul>li ul{
        display: none;
        position: relative;
        top: 0;
        left: 0;
        background: transparent;
        padding-bottom: 0.4rem;
    }
    .menu>ul>li.on2 ul{
        /*display: block;*/
    }
    .ftop{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }
    .banner4{
        margin-top: 1.2rem;
    }
    .tblang{
        position: fixed;
        top: 1.1rem;
        left: 0.25rem;
        z-index: 100;
        width: 6rem;
        margin-top: 0;
        display: none;
    }
    .tblang a{
        width: 2rem;
        line-height: 0.8rem;
        font-size: 0.3rem;
        float: left;
        background: #eeeeee;
        color: #999;
    }
    .tblang .on1{
        margin-right: 0.2rem;
    }
    .aboutlnr h3{
        font-size: 0.28rem;
    }
    .aboutlnr h4,.aboutlnr p{
        font-size: 0.24rem;
    }
    .bgbg{
        top: 2rem;
    }
    .bgbg2{
        top: 0;
    }

    .hezuobbd2 li{
        font-size: 0.28rem;
        line-height: 0.9rem;
    }
    .hezuobbd2 li a{
        width: 5rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
    }
    .hezuobbd2 li b{
        font-size: 0.24rem;
    }
    .cgcg b{
        display: block;
    }
    .cgcg{
        height: 1.6rem;
        -webkit-background-size: cover;
        background-size: cover;
        line-height: 0.4rem;
        padding: 0.4rem 0;
        font-size: 0.24rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .hezuobbd2 ul{
        padding-bottom: 0.2rem;
    }
    .dbdh1{
        padding-top: 0.55rem;
    }
    .hezuodd h3{
        font-size: 0.36rem;
    }
    .hezuodd h4{
        font-size: 0.24rem;
    }
    .hezuodd h5{
        font-size: 0.24rem;
    }
    .hezuodd p{
        font-size: 0.24rem;
    }
    .bkls{
        width: 2.75rem;
        line-height: 0.72rem;
        font-size: 0.28rem;
    }
    .newsxx{
        width: 100%;
    }
    .newscb{
        height: auto;
    }
    .newscb h3{
        font-size: 0.28rem;
    }
    .newscb h4{
        font-size: 0.24rem;
    }
    .newscb p{
        font-size: 0.24rem;
    }
    .profy.profy2{
        text-align: center;
    }
    .gcgc .aboutlnb .tt{
        height: auto;
        width: 100%;
    }
    .gcgc .aboutlnr{
        width: 100%;
        height: auto;
        padding: 0.2rem 0.25rem 0.5rem;
    }
    .gcgc .aboutlnb p{
        padding-left: 0.3rem;
        background: url("../images/jtc.png") no-repeat left 0.1rem;
        margin-bottom: 0.3rem;
    }
    .zhaopc{
        width: 100%;
        height: auto;
        padding: 0.2rem 0.5rem;
        padding-bottom: 1.4rem;
    }
    .zhaopcl h4{
        font-size: 0.32rem;
    }
    .zhaopcl h4 b{
        font-size: 1.28rem;
        width: 1.71rem;
    }
    .zhaopcl p{
        font-size: 0.24rem;
    }
    .zhaopcl p i{
        width: 1.71rem;
    }
    .zhaopcl p em{
        width: 1.71rem;
    }
    .zhaopb a{
        line-height: 0.72rem;
        width: 2.4rem;
        font-size: 0.28rem;
    }

    .zhaotx{
        width: 6.44rem;
        height: 85%;
        left: 0.5rem;
        top: 10%;
        margin-left: 0;
        border-radius: 0.1rem;
    }
    .zhaols{
        width: 5.8rem;
    }
    .zhaotx h3{
        line-height: 1rem;
        font-size: 0.3rem;
    }
    .zhaols>p{
        height: 0.65rem;
        line-height: 0.65rem;
        font-size: 0.24rem;
        width: 100%;
    }
    .zhaols>p>em{
        width: 2.15rem;
        float: left;
    }
    .zhaols>p>i{
        width: 3.58rem;
        float: left;
        border-right: none;
    }
    .zhaotv>h4,.zhaotv>h2{
        font-size: 0.28rem;
    }
    .zhaotv>p{
        font-size: 0.24rem;
        line-height: 1.6;
    }
    .zhaosr{
        font-size: 0.24rem;
    }
    .zhaosr a{
        width: 0.3rem;
    }
    .zhaotv{
        height: 85%;
    }
    .hezuobdt3{
        margin-bottom: 0.3rem;
    }
    .zhtxie p{
        width: 100%;
    }
    .zhtxie p span{
        font-size: 0.24rem;
        width: 1.5rem;
    }
    .zhtxie p input{
        font-size: 0.24rem;
        width: 4.3rem;
    }
    .zhtxie p select{
        font-size: 0.24rem;
        width: 4.3rem;
    }
    .zhtxie p textarea{
        width: 4.3rem;
        height: 2.2rem;
    }
    .zhaotx2 .scb{
        width: 2.4rem;
        height: 0.74rem;
        background: url("../images/scb.jpg") no-repeat center;
        -webkit-background-size: cover;
        background-size: cover;
        margin-top: 0;
        margin-left: 1.7rem;
    }
    .zhaotx2 .wytd{
        width: 2.4rem;
        height: 0.74rem;
        font-size: 0.28rem;
        margin-left: 1.7rem;
    }




    .ftop1,.newssct .tt b,.dbdh1 p a,.bottom4 p i,.mbcpbt h4,.bancb,.kefu,.lsfy a i{
        display: none;
    }
    .main_topb,.bottom2,.dbdh1,.bottom4{
        width: 7.5rem;
    }
    .bottom2,.bottom4,.banner4{
        height: auto;
    }
    .m_mebb,.m_sous,.menu>ul .close,.zhaotx .close{
        display: block;
    }
    .pblk{
        width: 7.5rem;
        padding:0 0.25rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

